@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #02061A;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

/*----------header-------------------*/

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 188px;
}
header div{
    padding: 102px 0 0 0;
    width: 74vw;
    display: flex;
    justify-content: space-between;
}
header div p{
    color: #ffffff;
    text-align: center;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    position: relative;
    z-index: 2;
}
nav ul{
    display: flex;
    gap: 45px;
}
nav ul li{
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
.ellipse{
    position: absolute;
    content: '';
    top: 0;
    z-index: 1;
}


/*-----------main----------------*/

/*--------section_discover-------------*/

.discover{
    display: flex;
    justify-content: center;
    align-items: center;
}
.discover>div{
    width: 74vw;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.discover>div>div{
    align-items: flex-end;
}
.discover h1{
    color: #fff;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    padding-bottom: 31px;
}
.discover>div>div>div{
    display: flex;
    gap: 22px;
}
.discover button{
    color: #FFF;
    text-align: center;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    width: 250px;
    height: 95px;
    border-radius: 50px;
    border: 3px solid #23263C;
    background-color: #02061A;
}
.discover button:hover{
    background-color:#23263C ;
}

/*-------on----------*/

.on{
    padding: 200px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.on>div{
    width: 74vw;
}
.on h3{
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 0 0 8px 0;
}
.on>div>div ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 125px;
    padding:0 75px;
    border: 1px #5BD2BD;
    background: #23263C;
}
.on>div>div ul li{
    list-style: none;
    color: #FFF;
    text-align: center;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    opacity: 0.5;
}

/*-------on-------------*/

.one{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 74px;
}
.one img{
    padding: 60px 55px 0 50px;
}
.one>div{
    width: 77vw;
    display: flex;
}
.one>div>div{
    width: 37vw;
    position: relative;
}
.one>div>div>h2>span{
    color: #56CAB1;
    font-weight: 700;
}
.one>div>div>span{
    color: #4C99BB;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 31px; /* 119.231% */
}
.one>div>div>p{
    color: #fff;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    position: relative;
    margin: 6px 0 13px 0;
}
.one>div>div>p>svg{
    position: absolute;
    bottom: -3px;
    left:278px;
}
.one>div>div>p>span{
    position: absolute;
    left: 334px;
}
.one h2{
    color: #fff;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 73px; /* 121.667% */
}
.one>div>div button{
    color: #fff;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    border-radius: 16px;
    border: 1px solid #56CAB1;
    width: 126px;
    height: 68px;
    background-color: #02061A;
}
.one>div>div button:first-of-type{
    position: absolute;
    left: 5px;
    top: 407px;
}
.info{
    margin-top: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 521px;
    height: 132px;
    border-radius: 18px;
    background: #3A5B6A;
    padding: 0 30px;
}
.info div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 22px;
    color: #FFF;

    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

/*---------carry--------------*/

.carry{
    width: 100vw;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 234px;
}
.carry>div{
    height: 100%;
    width: 74vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.carry h3{
    color: #fff;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 58px;
}
.carry button{
    color: #56CAB1;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    border-radius: 100px;
    border: 3px rgba(84, 197, 173, 0.95);
    background: #1F143B;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    width: 450px;
    height: 96px;

}
.carry>div>div:nth-child(1) {
    display: flex;
    width: 465px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}
.carry>div>div:nth-child(2){
display: flex;
    position: relative;
}
.carry>div>div:nth-child(2) div:nth-child(2){
    background: #898282;
    margin: 146px 0 50px 0;
    z-index: 1;
}
.monkey2{
position: absolute;
    right: 237px;

}
.monkey2>div{
    width: 380px;
    height: 123px;
    transform: rotate(-26deg);
    flex-shrink: 0;
    position: absolute;
    bottom: -77px;
    left: 145px;
}
.monkey2 p{
    width: 178px;
    height: 46px;
    color: #FFF;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.monkey2>div span{
    color: #23263C;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.carry>div>div:nth-child(2) div:nth-child(2)>h5{
    color: #56CAB1;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin: 12px 0 12px 30px;
}
.carry>div>div:nth-child(2) div:nth-child(2) div{
    display: flex;
    gap: 12px;
}
.carry>div>div:nth-child(2) div:nth-child(2) div p:first-of-type{
    color: #FFF;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 0 0 22px 20px;
}
.carry>div>div:nth-child(2) div:nth-child(2) div p:first-of-type span{
    color: #23263C;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.carry>div>div:nth-child(2) div:nth-child(2) div p:last-of-type{
    width: 147px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 3px;
    border: 2px #000;
    background: #1F143B;
    color: #52A7C6;
    -webkit-text-stroke-color: #02061A;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    text-align: center;
}

/*---------section_read------------*/

.read{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 208px;
}
.read>div{
    width: 74vw;
}
.read>div div:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.read>div div:first-child span{
    color: #5BD2BF;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 4px;
}
.read>div div:first-child h4{
    color: #fff;
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    width: 427px;
    margin-bottom: 147px;
}
.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
}
.cards div{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    background: #24293F;
    position: relative;
}
.cards div img{
    border-radius: 50%;
    position: absolute;
    top: -75px;
}
.cards h5{
    padding: 83px 0 27px 0;
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.cards p{
    padding: 0 20px 75px 20px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

/*--------section_buy------------*/

.buy{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 262px 0;
}
.buy>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 74vw;
    height: 378px;
    background: linear-gradient(97deg, #1F143B 19.45%, #3C8273 103.56%);
}
.buy h4{
    padding: 24px 0 40px 0 ;
    width: 312px;
    color: #FFF;
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 100% */
}
.buy button{
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 150% */
    text-transform: uppercase;
    border-radius: 50px;
    background: #000;
    padding: 13px 78px;
}

/*-----------footer----------*/

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 134px;
}
footer>div{
    width: 74vw;
    display: flex;
    justify-content: space-between;
}
footer p{
    margin-bottom: 19px;
    color: #fff;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
footer ul{
    display: flex;
    flex-direction: column;
    gap: 22px;
}
footer ul li{
    list-style: none;
}
footer ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
footer input{
    width: 253px;
    height: 60px;
    border-radius: 50px;
    background: #3B7C70;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
input[type="email"]::placeholder{
    padding: 0 0 0 12px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;

}
footer label{
   position: absolute;
    right: 0;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    height: 58px;
    border-radius: 50px;
    background: #262E48;
    padding: 16px 17px;
    z-index: 1;
}
footer>div div:nth-child(5){
    position: relative;
}
footer>div div:nth-child(5) p{
    margin-bottom: 9px;
}